[tool.pdm.build]
includes = []
[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"

[project]
name = "soundscapy"
version = "0.4.4"
description = "A python library for analysing and visualising soundscape assessments."
authors = [
    {name = "Andrew Mitchell", email = "andrew.mitchell.18@ucl.ac.uk"},
]

dependencies = [
    "pandas<2.0.0,>=1.3.5",
    "openpyxl<4.0.0,>=3.0.10",
    "seaborn<1.0.0,>=0.12.2",
    "acoustics<1.0.0,>=0.2.6",
    "mosqito<2.0.0,>=1.0.8",
    "PyYAML<7.0,>=6.0",
    "scikit-maad<2.0.0,>=1.3.12",
    "pyjanitor==0.23.1",
    "tqdm<5.0.0,>=4.65.0",
    "matplotlib>=3.7.2",
]
requires-python = ">=3.9,<4.0"
readme = "README.md"
license = {text = "BSD-3-Clause"}
classifiers = ["Programming Language :: Python :: 3", "Operating System :: OS Independent", "License :: OSI Approved :: BSD License"]
keywords = ["soundscape", "psychoacoustics", "acoustics", "audio analysis"]

[project.urls]
repository = "https://github.com/MitchellAcoustics/Soundscapy"
documentation = "https://soundscapy.readthedocs.io/en/latest/"

[project.optional-dependencies]
docs = [
    "sphinxcontrib-napoleon>=0.7",
    "numpydoc>=1.5.0",
    "jupyter>=1.0.0",
    "jupytext>=1.14.6",
    "sphinx-autodoc-typehints>=1.23.0",
    "nbsphinx>=0.9.2",
    "sphinx-autoapi>=2.1.1",
    "Sphinx>=6.2.1",
    "sphinx-rtd-theme>=1.2",
]

test = [
    "pytest>=7.3.2",
    "setuptools>=68.0.0",
]
dev = [
    "pytest>=7.3.2",
    "black>=23.3.0",
    "pycircular>=0.1.2",
    "statsmodels>=0.14.0",
]
":all" = []
