[tool.poetry]
name = "soundscapy"
version = "0.5.0"
description = "A python library for analysing and visualising soundscape assessments."
authors = ["Andrew Mitchell <andrew.mitchell.18@ucl.ac.uk>"]
readme = "README.md"
license = "BSD-3-Clause"
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
    "License :: OSI Approved :: BSD License"
]
keywords = ["soundscape", "psychoacoustics", "acoustics", "audio analysis"]
repository = "https://github.com/MitchellAcoustics/Soundscapy"
documentation = "https://soundscapy.readthedocs.io/en/latest/"

[tool.poetry.dependencies]
python = "^3.7.12,<3.11"
pandas = "^1.3.5"
openpyxl = "^3.0.10"
seaborn = "^0.12.2"
acoustics = "^0.2.6"
mosqito = "^1.0.8"
PyYAML = "^6.0"
scikit-maad = "^1.3.12"
pyjanitor = "0.23.1"
pytest = "^7.2.2"

[tool.poetry.group.dev.dependencies]
pytest = "^7.2.1"
black = "^22.12.0"
pycircular = "^0.1.2"
statsmodels = "^0.13.5"

[tool.poetry.group.docs.dependencies]
jupyter = "^1.0.0"
Sphinx = "^5.3.0"
sphinx-rtd-theme = "^1.1.1"
jupytext = "^1.14.4"
sphinx-autodoc-typehints = "^1.21.8"
nbsphinx = "^0.8.12"
sphinx-autoapi = "^2.0.1"


[tool.poetry.group.test.dependencies]
pytest = "^7.2.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
