[tool.pdm.build]
includes = []
[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"

[project]
name = "soundscapy"
version = "0.4.4"
description = "A python library for analysing and visualising soundscape assessments."
authors = [
    {name = "Andrew Mitchell", email = "andrew.mitchell.18@ucl.ac.uk"},
]

dependencies = [
    "pandas>=2.0.3",
    "openpyxl>=3.1.2",
    "seaborn>=0.12.2",
    "acoustics>=0.2.6",
    "mosqito>=1.0.8",
    "PyYAML>=6.0.1",
    "scikit-maad>=1.4.0",
    "pyjanitor>=0.25.0",
    "tqdm>=4.66.1",
    "matplotlib>=3.7.2",
]
requires-python = ">=3.9,<4.0"
readme = "README.md"
license = {text = "BSD-3-Clause"}
classifiers = ["Programming Language :: Python :: 3", "Operating System :: OS Independent", "License :: OSI Approved :: BSD License"]
keywords = ["soundscape", "psychoacoustics", "acoustics", "audio analysis"]

[project.urls]
repository = "https://github.com/MitchellAcoustics/Soundscapy"
documentation = "https://soundscapy.readthedocs.io/en/latest/"

[project.optional-dependencies]
docs = [
    "sphinxcontrib-napoleon>=0.7",
    "numpydoc>=1.5.0",
    "jupyter>=1.0.0",
    "jupytext>=1.15.0",
    "sphinx-autodoc-typehints>=1.24.0",
    "nbsphinx>=0.9.2",
    "sphinx-autoapi>=2.1.1",
    "sphinx-rtd-theme>1.2.2",
    "Sphinx>=7.1.2",
]

test = [
    "pytest>=7.4.0",
    "setuptools>=68.0.0",
]
dev = [
    "pytest>=7.4.0",
    "black>=23.7.0",
    "pycircular>=0.1.2",
    "statsmodels>=0.14.0",
]
