[build-system]
    requires = ["flit_core >= 3.2, <4"]
    build-backend = "flit_core.buildapi"

[project]
name = "soundscapy"
version = "0.3.5"
description = "A python library for analysing and visualising soundscape assessments."
authors = [{name = "Andrew Mitchell", email =  "andrew.mitchell.18@ucl.ac.uk"}]
readme = "README.md"
requires-python = ">=3.7.12"
license = {file = "LICENSE"}
dependencies = [
    "pandas~=1.2.3",
    "openpyxl~=3.0.10",
    "numpy~=1.21.5",
    "matplotlib~=3.5.2",
    "seaborn~=0.12.0",
    "scipy~=1.7.3",
    "acoustics~=0.2.6",
    "mosqito~=1.0.8",
    "pyyaml~=6.0",
    "scikit-maad~=1.3",
    "pyjanitor~=0.22.0",
]
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
    "License :: OSI Approved :: BSD License"
]
keywords = ["soundscape", "psychoacoustics", "acoustics", "audio analysis"]

[project.urls]
Home = "https://github.com/MitchellAcoustics/Soundscapy"

[project.optional-dependencies]
test = [
    "pytest~=7.1.3"
]
dev = [
    "jupyter~=1.0.0",
    "black"
]